.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
logs
*.log
npm-debug.log
coverage
.grunt
build/Release
node_modules
bower_components
.lock-wscript
.idea
.vagrant
.anaconda
.eslintcache

es5/
solution/
